.ant-modal-mask {
  background-color: rgba(73, 82, 110, 0.4) !important;
  backdrop-filter: blur(25px) !important;
}

.custom-modal {
  .ant-modal-content {
    @apply p-0 bg-white rounded-2xl;
  }
}

.custom-input,
.custom-input[disabled] {
  @apply bg-[#E6EBF8] border-none rounded-lg text-[#587AD3] text-base placeholder:text-[#587AD3] h-[48px];

  &:hover,
  &:focus-within {
    @apply border border-solid border-[#587AD3] bg-[#E6EBF8];
    box-shadow: 0px 0px 16px #587ad3 !important;
  }
  input.ant-input {
    @apply bg-[#E6EBF8] border-none rounded-lg text-[#0538BD] text-base placeholder:text-[#587AD3];
  }
}

.custom-progress .ant-progress-text {
  color: #ffffff;
}

.skeleton-image {
  span {
    width: 100% !important;
    height: 100% !important;
  }
}

.ant-skeleton-active .ant-skeleton-button,
.ant-skeleton-avatar {
  background-image: white !important;
}
