@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --100vh: calc(100vh);
  }
  @media only screen and (max-width: 1600px) {
    html {
      zoom: 0.8;
    }
    :root {
      --100vh: calc(100vh / 0.8);
    }
  }
  @media only screen and (max-width: 1350px) {
    html {
      zoom: 0.7;
    }
    :root {
      --100vh: calc(100vh / 0.7);
    }
  }
  @media only screen and (max-width: 1200px) {
    html {
      zoom: 0.6;
    }
    :root {
      --100vh: calc(100vh / 0.6);
    }
  }
  @media only screen and (max-width: 1024px) {
    html {
      zoom: 1;
    }
    :root {
      --100vh: 100vh;
    }
  }

  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-[#0538BD] text-white  overflow-x-hidden;
  }
}

@layer components {
  .btn-primary {
    @apply text-[16px] font-[700] font-jarkata text-[#0538BD] hover:!text-[#0538BD] bg-[#DCFC36] border-none hover:!bg-[#C8E531] h-[48px] px-[20px] rounded-2xl;
  }

  .btn-secondary {
    @apply text-[16px] font-[700] font-jarkata text-[#DCFC36] hover:!text-[#DCFC36] bg-[#0538BD] border-none hover:!bg-[#0539bded] h-[48px] px-[20px] rounded-2xl;
  }

  button.btn-primary[disabled],
  button.btn-secondary[disabled] {
    @apply bg-[#f3fcc8] text-[#0538BD] bg-none hover:!text-[#0538BD] hover:!bg-[#f3fcc8];
  }

  .layout-container {
    @apply max-w-[1400px] mx-auto px-[16px] sm:px-[24px];
  }

  .three_dot_2_line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  /* end custom scroll bar */

  .animateIntroPlay {
    animation-name: anchor-swing;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    transform-origin: top left;
    animation-iteration-count: infinite;
  }

  .animateIntroMint {
    animation-name: anchor-swing;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    transform-origin: top;
    animation-iteration-count: infinite;
  }

  @keyframes anchor-swing {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .bling {
    position: absolute;
    font-size: 20px;
    color: gold;
    animation: bling-animation 2s ease-out forwards;
    pointer-events: none;
  }

  @keyframes bling-animation {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100px);
      opacity: 0;
    }
  }
}

@layer utilities {
}
